.side-banner{
    max-height: 200px;
}

.custom-col-md-3{
    flex:0 0 14%;
    max-width: 14%;
}
.custom-col-md-31{
    flex: 0 0 21%;
    max-width: 21%;
}
@media screen and (max-width:768px) {
    .custom-col-md-3{
        flex: 0 0 30%;
        max-width: 30%;
        margin-top: 30px;
       
    }
    .custom-col-md-31{
        flex: 0 0 70%;
        max-width: 70%;
        margin-top: 30px;
    }
    
}